@using EMAnalysisWeb.DTO
@inject HttpClient Http
@rendermode InteractiveWebAssembly
@page "/"

<PageTitle>Home</PageTitle>

<h1 class="align-content-center">External Market Analysis HUB</h1>




@code {

    protected override async Task OnInitializedAsync()
    {
        
        
        
        
    }
    
    

}