
@page "/counter"
@using EMAnalysisWeb.DTO
@inject HttpClient Http
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>


<h1> TEST VALUE  </h1>
@*@if (data == null)
{
    <p> Loading </p>
}
else
{
    foreach (var item in data)
    {
        <p> @item.Date </p>
    }
    
}@*@



<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<List<StockData>>("/crudedata");
    }

    private List<StockData> data;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}

